{% extends 'shelteradminapp/base.html' %}
{% load static %}

{% block main_banner %}
    {% include 'adminapp/includes/inc-admin_banner_small.html' %}
{% endblock %}

{% block content %}

    <section class="shelter-list-image-carusel-area">
        <div class="container_shelters_pets">
            <div class="pets_row">
                <div class="active-image-carusel">
                    {% for pet in pets_list %}
                        {% if pet.pet_shelter_id == object.pk %}
                            <div class="single-image-carusel">
                                <a href="{% url 'shelteradmin:pet_detail' pet.pk %}"><img class="my_img-fluid"
                                                                                src="{{ pet.images.all.0.image.url }}"
                                                                                alt="{{ pet.name }}"></a>
                                {#                                <a href="{% url 'shelteradmin:pet_detail' pet.pk %}">#}
                                {#                                    <div class="single-cat-list">#}
                                {#                                        <img src="{{ object.images.first.image.url }}" alt="" class="img-fluid">#}
                                {#                                        <div class="overlay">#}
                                {#                                            <div class="text">{{ object.name }}</div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </a>#}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <a href="{% url 'shelteradmin:pet_create' object.pk %}"
       class="btn btn-danger">
        добавить питомца
    </a>

{% endblock %}
