{% extends 'adminapp/base.html' %}
{% load static %}

{% block main_banner %}
    {% include 'adminapp/includes/inc-admin_banner_small.html' %}
{% endblock %}

{% block content %}
    <!-- Start cat-list Area -->
    <section class="cat-list-area section-gap">
        <div class="container">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-lg-3 col-md-6">
                        <a class="button_admin text-uppercase" href="{% url 'adminapp:city_detail' object.pk %}">
                            {{ object.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a class="button_admin_add text-uppercase" href="{% url 'adminapp:city_create' %}">
                добавить город
            </a>
        </div>
    </section>
    <!-- End cat-list Area -->
{% endblock %}
