{% extends 'adminapp/base.html' %}
{% load static %}

{% block main_banner %}
    {% include 'adminapp/includes/inc-admin_banner_small.html' %}
{% endblock %}

{% block content %}
    <!-- Start cat-list Area -->
    <section class="cat-list-area section-gap">
        <div class="container">
            <div class="row">
                <div>
                    <h1>{{ petstatus.name }}</h1>
                    <p>{{ petstatus.description }}</p>
                    <p>{{ petstatus.is_active }}</p>
                    <a class="button_admin_add text-uppercase" href="{% url 'adminapp:status_update' object.pk %}">
                        редактировать
                    </a>
                    <a class="button_admin_add text-uppercase" href="{% url 'adminapp:status_delete' object.pk %}">
                        удалить
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End cat-list Area -->
{% endblock %}