<nav id="nav-menu-container">
    <ul class="nav-menu {{ menu.css_class }}">
        {% for object in menu.submenus.all %}
            <li class="mainmenu {{ obj.css_class }}"> <a href="{{ object.get_url }}"> {{ object.name }} </a>

            {% if object.submenus.count %}
                <ul>
                    {% for obj in object.submenus.all %}
                        <li class="{{ obj.css_class }}"> <a href="{{ obj.get_url }}"> {{ obj.name }} </a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            </li>
        {% endfor %}
        <li><a href="{% url 'mainapp:volunteer' %}">Volunteer</a></li>
    </ul>
</nav><!-- #nav-menu-container -->
