<nav id="nav-menu-container">
    <ul class="nav-menu {{ menu.css_class }}">
        {% for object in menu.submenus.all %}
            <li class="mainmenu {{ obj.css_class }}"><a href="{{ object.get_url }}"> {{ object.name }} </a>

                {% if object.submenus.count %}
                    <ul>
                        {% for obj in object.submenus.all %}
                            <li class="{{ obj.css_class }}"><a href="{{ obj.get_url }}"> {{ obj.name }} </a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
        <li><a href="{% url 'mainapp:volunteer' %}">Волонтерство</a></li>
        {% if user.is_authenticated %}
            {% if user.avatar %}
                <li><img src="{{ user.avatar.url }}" width="40" alt="" style="border-radius: 50%"></li>
            {% endif %}
            <li class="mainmenu menu-has-children"><a href="{% url 'auth:edit' %}">
                {% if user.first_name %} {{ user.first_name }} {% else %}
                    {{ user.username }} {% endif %}</a>
                <ul>
                    {% if user.is_superuser %}
                        <li>
                            <a href="{% url 'adminapp:pet_list' %}">
                                Администрирование
                            </a>
                        </li>
                    {% endif %}
                    {% if user.activateuser.is_shelter == 'SHELTER' %}

                        {% if user.shelter.shelter_address == 'в' %}
                            <li>
                                <a href="{% url 'shelteradmin:shelter_create' %}">
                                    Личный кабинет приюта
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'shelteradmin:shelter_office' user.id %}">
                                    Личный кабинет приюта
                                </a>
                            </li>
                        {% endif %}

                    {% else %}
                        <li>
                            <a href="{% url 'auth:edit' %}">
                            Личный кабинет
                        </a>
                        </li>
                    {% endif %}
                    <li class=""><a href="{% url 'auth:logout' %}">Выйти</a></li>
                </ul>
            </li>
        {% else %}
            <li class="mainmenu"><a href="{% url 'auth:login' %}">Войти</a></li>

        {% endif %}
        {% if user.is_authenticated %}
            <li class="mainmenu"><a href="{% url 'reserve:view' %}">Избранное</a></li>
        {% endif %}
    </ul>
</nav><!-- #nav-menu-container -->
