{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
		{% for img in pet.images.all %}
               <a href="{{ img.image.url }}">
                   <img src="{{ img.image.url }}" alt="">
               </a>
        {% endfor %}
        <h1>{{pet.name}}</h1>
        <p>Категория питомца: {{pet.pet_category_type}}</p>
        <p>Состояние питомца: {{pet.pet_category_health}}</p>
        <p>Пол питомца: {{pet.pet_gender}}</p>
        <p>Возраст питомца: {{pet.age}}</p>
        <p>Месяц питомца: {{pet.month}}</p>
        <p>Размер питомца: {{pet.pet_size}}</p>
        <p>Длина шерсти питомца: {{pet.pet_wool_length}}</p>
        <p>Цвет питомца: {{pet.pet_color}}</p>
        <p>Характер питомца: {{pet.pet_character}}</p>
        <p>Город питомца: {{pet.pet_city}}</p>
    </div>
</body>
</html>