/.idea/
run.sh
run.bat
run_for_env.bat
db.sqlite3
/**/migrations/
/**/__pycache__/

/tmp/email-messages/*
media/uploads/
!/adminapp/migrations/__init__.py
!/authapp/migrations/__init__.py
!/mainapp/migrations/__init__.py
