{% extends 'reserve_base.html' %}
{% load static %}

{% block main_banner %}
{% include 'mainapp/includes/inc-main_banner_small.html' %}
{% endblock %}

{% block content %}
<title>{{ title }}</title>
<h1 style="text-align: center">Ваши избранные питомцы</h1>
<div class="reserve_block">
    {% for item in reserve_pets %}
        <div class="reserve_pet_block">
                    <span class="pet_name">{{ item.pet.name }}</span><br>
        {{ item.pet.pet_wool_length }}<br>
                <img style="width: 300px" src="{{item.pet.images.first.image.url}}" alt="" class="img-fluid">
        <br><br>
                <a href="{% url 'main:index' %}"> Отправить заявку в приют! </a><!-- абстрактная ссылка на создание заявки -->
        <br><br>
        <button class="btn btn-round">
            <a href="{% url 'reserve:remove' item.pk %}" class="">
                удалить
            </a>
        </button>

        </div>
    {% endfor %}
</div>
    {% if reserve_pets %}
            <div class="order_create">
    </div>
                <p style="text-align: center">После подтверждения заявки избранные питомцы будут перемещены в раздел "Мои заявки"</p>
                </div>
        <a href="{% url 'main:index' %}">на главную</a>
    {% endif %}
{% endblock %}