.dropdown {
    width: 193px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
    margin: 2px;
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdown:active {
    background-color: #f8f8f8
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}

.dropdown.active .select > i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

/*отображение городов при наведении*/
.dropdown:hover > .dropdown-menu {
    display: block;
}

dropdown dropdown_animal {
    margin-top: 100px;
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown:hover {
    background-color: #f2f2f2
}


.main_head {
    display: flex;
    justify-content: space-around;
}

.search {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    text-align: left;
    margin: 2px;
    width: 600px;
}

.search_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.search_input {
    display: flex;
    width: 600px;
    border-radius: 5px;
    float: left;
    padding-left: 10px;
    font-size: 15px;
    height: 40px;
    margin-top: 5px;
}

.result {
    width: 900px;
}