{% extends 'mainapp/base.html' %}

{% block content %}
    {% for object in object_list %}
        {% if object.pet_status.name == 'Уже дома' %}
            <br>
            <h1>{{object.name}}</h1>
            <p>Категория питомца: {{object.pet_category}}</p>
            <p>Пол питомца: {{object.pet_gender}}</p>
            <p>Приютили из: {{object.pet_shelter}}</p>
            <p>Город: {{object.pet_shelter.shelter_city}}</p>
            {% for img in object.images.all %}
                <a href="{% url 'mainapp:pet_card' object.pk %}"> <img src="{{ img.image.url }}" alt=""> </a>
                <a href="{% url 'reserve:add' pet.pk %}"> Добавить в избранное </a>
            {% endfor %}
            <br><hr>

        {% endif %}
    {% endfor %}
{% endblock content %}
