{% extends 'mainapp/base.html' %}

{% block main_banner %}
    {% include 'mainapp/includes/inc-main_banner_small.html' %}
{% endblock %}

{% block content %}
    <!-- Start cat-list Area -->
    <section class="cat-list-area section-gap">
        <div class="container">
            <div class="row">
                <div>
                    {% for img in pet.images.all %}
                        <a data-fancybox="gallery" href="{{ img.image.url }}">
                            <img style="height: 200px" src="{{ img.image.url }}" alt="">
                        </a>
                    {% endfor %}
                    <h1>{{pet.name}}</h1>
					<p>{{pet.description}}</p>
                    <p>Приют: <a href="{% url 'mainapp:shelter_card' shelter.pk %}">{{pet.pet_shelter}}</a></p>
                    <p>Порода: {{pet.pet_breed}}</p>
                    <p>Пол: {{pet.pet_gender}}</p>
                    <p>Возраст:
                        {{pet.age}} {{ year_output }}
                        {{pet.month}} {{ month_output }}
                    </p>
                    <p>Размер: {{pet.pet_size}}</p>
                    <p>Длина шерсти: {{pet.pet_wool_length}}</p>
                    <p>Цвет: {{pet.pet_color}}</p>
                    <p>Характер: {{pet.pet_character}}</p>
                    <p>Состояние: {{pet.pet_status}}</p>
                    <p>Город: {{shelter.shelter_city}}</p>
                    <p>Связаться по телефону {{ shelter.shelter_phone }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End cat-list Area -->
{% endblock %}

{% block call_to_action %}
    {% include 'mainapp/includes/inc-call_to_action.html' %}
{% endblock %}
