{% extends 'mainapp/base.html' %}



{% block main_banner %}

    {% if object.shelter_logo %}
        <section class="relative" id="home">
            <div class="container">
                <div class="overlay overlay-bg"></div>
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <img style="height: 400px" src="{{ object.shelter_logo.url }}" alt="">
                    <div class="banner-content col-lg-8 col-md-12">
                        <h1 class="text-uppercase" style="color: black;">
                            Нам нужна Ваша помощь. <br>
                            Питомцев, в поисках дома: {{ not_adopted }}. <br>
                            Питомцев, нашедших дом: {{ adopted }}.
                            {{ pets }}
                        </h1>
                        <a href="#" class="primary-btn header-btn text-uppercase">Find a pet to adopt</a>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        {% include 'mainapp/includes/inc-main_banner_big.html' %}
    {% endif %}
{% endblock %}

{% block content %}

        <br>
        <p>{{ object.name }}</p>
        <p>{{ object.shelter_city }} {{ object.shelter_address }}</p>
        <p>{{ object.shelter_phone }}</p>
        <p>{{ object.shelter_email }}</p>
        <br><hr>
            <h1 style="text-align: center">Наши питомцы:</h1>
    <section style="margin-top:0px" class="image-carusel-area">
        <div class="container">
            <div class="row">
                <div class="active-image-carusel">
                    {% for pet in pets_list %}
                        {% if pet.pet_shelter_id == object.pk %}
                    <div class="single-image-carusel center_cropped">
                    <a href="{% url 'mainapp:pet_card' pet.pk %}">
                        <img class="img-fluid " src="{{pet.images.first.image.url}}" alt="">
                    </a>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
                    <!--------------------------- Modal start (засунуть в карусель) --------------------------->

<!-- МОДАЛКА ОТКЛЮЧИЛАСЬ КОГДА ЗАМЕНИЛ ПЕТОВ НА КАРУСЕЛЬ ИЗ ГЛАВНОЙ СТРАНИЦЫ, ПОТОМ ПОЧИНЮ -->
    
        {% for pet in pets_list %}

                        <div class="col-lg-3 col-md-6">
                <a href="{% url 'mainapp:pet_card' pet.pk %}">

                    <div class="modal fade" id="myModal_{{ pet.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Карточка питомца: {{ pet.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    {% include 'mainapp/includes/pet_card_include.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

        {% endfor %}
                    <!--------------------------- Modal end --------------------------->
        </section>

{% endblock content %}
